.gallery{
    margin-left: 1%;
    margin-top: 3%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px 12px;
}

@supports (not (column-width: 33%)) {
    .gallery {
      display: flex;
      flex-wrap: wrap;
    
    }
  
    .gallery .picture {
      flex: 0 0 calc(33% - 12px);
      box-sizing: border-box;
      margin-bottom: 12px;
      margin-right: 12px;
    }
  }
  
.gallery .picture{
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.gallery .picture:hover{
    filter: opacity(.8);
}


@media (max-width: 991px){
    .gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }  
    .header img{
        width: 200px;
    }
}

@media (max-width: 480px){
    .gallery{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }

    .header img{
        width: 120px;
    }
}
.list{
     display: block;
     font-size: larger;
}
nav {
    display: block;
    position: absolute;
    text-align: center;
    overflow: hidden;
    width: 100%;
    top: -20px;

    a {
        font-size: 22px;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        text-decoration: none;
        color: black;

        i {
            transition: all 0.1s ease-in-out;
        }

        &:hover{
            background-color: rgb(159, 155, 155);
            color: white;
        }
    }
}
