html{
  /*This is used to style the index page of the webite  */
  font-size: 62.5%;
}

body {
  margin: 0;
  /* we are setting the font weight size/ line-height here and the font family. */
  font: 300 15px/1.4 'Courier New','sans serif';
  color: #1d1c1c;
  background: #E6E3DD;
  /* overflow:hidden; */
  display: block;




  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





